<!-- 显示文章的封面 -->
<div class="coverdiv" id="coverdiv">
    <img id="post-cover" class="nolazyload" src="<%= page.cover %>" alt="cover">
</div>

<div id="post-info">
    <!-- 显示文章的元信息 -->
    <div id="post-firstinfo">
        <div class="meta-firstline">
            <!-- 显示文章的版权协议信息 -->
            <a class="post-meta-original" title="<%= __('postmeta.original', page.cc) %>">
                <%= page.cc %>
            </a>
            <!-- 显示文章的分类信息 -->
            <% if (page.categories.data.length) { %>
            <span class="post-meta-categories">
                <% page.categories.data.forEach(item => { %>
                    <a class="post-meta-categories" href="<%= url_for(item.path) %>"><%= item.name %></a>
                <% }) %>
            </span>
            <% } %>
            <!-- 显示文章的标签信息 -->
            <div class="tag_share">
                <div class="post-meta__tag-list">
                    <% page.tags.data.forEach(tags => { %>
                        <a class="post-meta__tags" href="<%= url_for(tags.path) %>">
                            <span class="tags-punctuation">#</span>
                            <span class="tags-name"><%= tags.name %></span>
                        </a>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <!-- 显示文章的标题 -->
    <h1 class="post-title"><%= page.title %></h1>

    <div id="post-meta">
        <div class="meta-secondline">
            <!-- 显示文章的发布/更新时间 -->
            <span class="post-meta-date" title="<%= __('postmeta.posted') %>">
                <i class="post-meta-icon fa-fw fas fa-calendar"></i>
                <time datetime="<%= moment(page.date).format() %>"></time>
            </span>
            <% if(theme.post.meta.updated){ %>
                <span class="post-meta-date" title="<%= __('postmeta.updated') %>">
                    <i class="post-meta-icon fa-solid fa-clock-rotate-left"></i>
                    <time datetime="<%= moment(page.updated).format() %>"></time>
                </span>
            <% } %>
            <!-- 显示文章的作者 IP 归属地信息 -->
            <% if(theme.post.meta.locate){ %>
                <span class="post-meta-position" title="<%= __('postmeta.locate', page.locate) %>">
                    <i class="fas fa-location-dot post-meta-icon"></i>
                    <span><%= page.locate %></span>
                </span>
            <% } %>
            <!-- 显示文章的字数信息 -->
            <% if(theme.thirdparty.wordcount){ %>
                <% if(theme.post.meta.wordcount){ %>
                    <span class="post-meta-wordcount" title="<%= __('postmeta.wordCount') %>">
                        <i class="fas fa-file-word fa-fw post-meta-icon"></i>
                        <span class="word-count"><%= wordcount(page.content) %></span>
                    </span>
                <% } %>
                <!-- 显示文章的阅读耗时信息 -->
                <% if(theme.post.meta.readtime){ %>
                    <span class="post-meta-time" title="<%= __('postmeta.readTime') %>">
                        <i class="fas fa-clock post-meta-icon"></i>
                        <span><%= min2read(page.content) %> min</span>
                    </span>
                <% } %>
            <% } %>
            <!-- 显示文章的浏览量信息 -->
            <% if(theme.thirdparty.busuanzi.enable && theme.post.meta.pv){ %>
                <span class="post-meta-pv" title="<%= __('postmeta.readNum') %>">
                    <i class="fab fa-hotjar fa-fw post-meta-icon"></i>
                    <% if(theme.thirdparty.busuanzi.usecomment){ %>
                        <span id="twikoo_visitors"><i class="fas fa-spinner fa-pulse"></i></span>
                    <% }else{ %>
                        <span id="busuanzi_value_page_pv"><i class="fas fa-spinner fa-pulse"></i></span>
                    <% } %>        
                </span>
            <% } %>
            <!-- 显示文章的评论数 -->
            <% if(theme.post.meta.comment && page.comment){ %>
                <span class="post-meta-commentcount" title="<%= __('postmeta.commentNum') %>">
                    <i class="fa-solid fa-message"></i>
                    <a href="#post-comment">
                        <span id="twikoo-count"><i class="fas fa-spinner fa-pulse"></i></span>
                    </a>
                </span>
            <% } %>    
        </div>
    </div>
</div>
<!-- 显示一个波浪形的背景图案 -->
<%- partial('partial/component/post/wave', {cache: true}) %>