<main class="layout" id="content-inner">

    <div id="archive">
        <div class="article-sort-title">
            <!-- 获取存档页面的标题文本 -->
            <%= __('page.archives') %>
            <sup>
                <!-- 存档页面的文章数量 -->
                <%= page.posts.length %>
            </sup>
        </div>

        <!-- 文章 -->
        <div class="article-sort">
            <%- partial('partial/compoment/mixins/articleSort') %>
        </div>
        
        <!-- 分页元素 -->
        <%- partial('partial/compoment/mixins/pagination') %>
    </div>

    <!-- 侧边栏 -->
    <%- partial('partial/compoment/aside/aside') %> 
</main>