<div id="home_top">
    <!-- 即刻说说 -->
    <% if(theme.hometop.bbtime){ %>
        <%- partial('partial/component/hometop/bbTimeList') %>
    <% } %>
    <!-- 技能商标面板、三分类、箴言卡片 -->
    <% if(theme.hometop.banner.enable){ %>
        <%- partial('partial/hometop') %>
    <% } %>
</div>

<main class="layout" id="content-inner">
    <div class="recent-posts" id="recent-posts">
        <!-- 分类条 -->
        <div id="category-bar">
            <%- partial('partial/component/home/homeCategoryBar', {select:false}) %>
        </div>
        <!-- 文章 -->
        <% for (const item of page.posts.sort('-date').data){ %>
            <%- partial('partial/component/home/postList', {post: item}) %>
        <% } %>
        <!-- 分页元素 -->
        <%- partial('partial/component/mixins/pagination') %>
    </div>
    <!-- 侧边栏 -->
    <%- partial('partial/component/aside/aside') %> 
</main>