<!-- 页脚的联系方式，可以在主题配置文件进行修改 -->
<div id="footer_deal">
    <% for(const i in theme.footer.information.left){ %>
        <a class="deal_link" href="<%= url_for(theme.footer.information.left[i].url) %>" rel="external nofollow" title="<%= i %>">
            <i class="<%= theme.footer.information.left[i].icon %>"></i>
        </a>
    <% } %>
    <img class="footer_mini_logo" src="<%= theme.site.icon %>"
        title="<%= __('footer.backTop') %>" onclick="B612.toTop()">
    <% for(const i in theme.footer.information.right){ %>
        <a class="deal_link" href="<%= url_for(theme.footer.information.right[i].url) %>" rel="external nofollow" title="<%= i %>">
            <i class="<%= theme.footer.information.right[i].icon %>"></i>
        </a>
    <% } %>
</div>
<!-- 页脚的分组内容，可以在主题文件中进行配置 -->
<div id="heo-footer" style="display: <%= theme.footer.group.enable ? 'block' : 'none' %>;">
    <% for(const x in theme.footer.group.list){ %>
        <div class="footer-group">
            <h3 class="footer-title"><%= x %></h3>
            <div class="footer-links">
                <% for(const y in theme.footer.group.list[x]){ %>
                    <a class="footer-item" href="<%= url_for(theme.footer.group.list[x][y]) %>" title="<%= y %>" rel="noopener external nofollow noreferrer"><%= y %></a>
                <% } %>    
            </div>
        </div>
    <% } %>
    <% if(theme.footer.randomlink){ %>
        <div class="footer-group">
            <div class="footer-title-group">
                <h3 class="footer-title"><%= __('footer.friends') %></h3>
                <a class="random-friends-btn" href="javascript:randomLinksList();" rel="external nofollow">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </a>
            </div>
            <div class="footer-links" id="friend-links-in-footer">
            </div>
        </div>
    <% } %>
</div>
<!-- 主题的版权信息和一些链接 -->
<div id="footer-section">
    <div class="footer-section-links">

        <div class="footer-section-left">
            <div id="footer-section-tips">
                <div class="copyright">©<%= moment(theme.aside.siteinfo.runtime).year() %> - <%= new Date().getFullYear() %> By 
                    <a class="footer-section-link" href="/" rel="external nofollow"><%= config.author %></a>
                    <!-- <a class="footer-section-link" href="https://github.com/hexo-theme-Acrylic/Hexo-Theme-Acrylic-Next" rel="external nofollow" target="_blank"> Theme By Acrylic-Next</a> -->
                </div>
            </div>
        </div>

        <div class="footer-section-right">
            <a class="footer-section-link" href="/rss/"><%= __('footer.subscribe') %></a>
            <% if(theme.site.icp){ %>
                <a class="footer-section-link" target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index" rel="noopener external nofollow noreferrer noopener">
                    <%= theme.site.icp %>
                </a>
            <% } %>
            <a class="footer-section-link cc" target="_blank" href="https://creativecommons.org/licenses/by/4.0/" title="<%= __('footer.licenses') %>">
                <i class="fa-solid fa-closed-captioning"></i>
            </a>
        </div>
    </div>
</div>