<% if (theme.about) { %>
<div id="about-page">
    <%- partial('partial/component/about/authorinfo' ) %>
    <%- partial('partial/component/about/contentinfo' ) %>
    <%- partial('partial/component/about/skillsinfo' ) %>
    <%- partial('partial/component/about/personalities' ) %>
    <%- partial('partial/component/about/motto' ) %>
    <%- partial('partial/component/about/hobbies' ) %>
    <%- partial('partial/component/about/other' ) %>
    <%- partial('partial/component/about/award' ) %>
</div>
<% } %>
